.header {
    display: flex;
    justify-content: space-between;
    margin: 22px;
}
#high-scores{
    padding: 15px 20px;
    border-radius: 5px;
    background-color: lightblue;
    border: none;
    margin: 8px;
}
#high-scores:hover, #start-btn:hover {
    background-color: lightcoral;
    transition: .5s ease;
    cursor: pointer;
}
.timer {
    padding: 15px 20px;
    margin: 8px;
    font-size: 18px;
    font-weight: bold;
}
main {
    display: flex;
    justify-content: center;
    margin: 10%
}
.wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.btn {
    background-color: darkseagreen;
    padding: 15px 20px;
    border-radius: 5px;
    font-size: 20px;
    text-align: left;
    border: none;
}
.btn:hover {
    background-color: darkcyan;
    cursor: pointer;
    transition: .5s ease;
}
.answer {
    color: gray;
    border-top: 1px solid gray;
    margin-top: 15px;
    text-align: center;
    visibility: hidden;
}